<!-- {{questionAnswered question}} -->

{{#link-to 'question' question.id}}<p>question: {{question.content}}</p>{{/link-to}}


<button {{action 'delete' question}}>delete</button>
<br>
<div> {{update-question question=question update='update' saveAnswer='saveAnswer'}}
</div>
