<header class = "jumbotron">
  <h1>Q and A board</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}index{{/link-to}}<br>
  {{#link-to 'question' question.id}}Question Page{{/link-to}}
</footer>
