<h3>Welcome to the Q and A board</h3>
<h5><span class="glyphicon glyphicon-star"></span> = answered</h5>
<hr>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question destroyQuestion='destroyQuestion' update='update'}}
    <br>
  {{/each}}
</ul>

{{new-question saveQuestion='saveQuestion'}}
<hr>
<h4>Favorite questions</h4>
{{display-favorites}}
